@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #09090b; /* zinc-950 */
  --text: #fafafa; /* zinc-50 */
}

body {
  @apply bg-zinc-950 text-zinc-50 antialiased;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}
